{% extends 'base.html' %}

{% block content %}
{% if not user.is_authenticated %}
  <h1>Log in to add a city</h1>
  {% else %}
  <div class="row">
    <h3>Add a City</h3>
    </div>
  <form method="POST">
    <div class="">
      {% csrf_token %}
      <div class="field has-addons">
          <div class="control is-expanded">
              {{ form.name }}
          </div>
          <div class="control">
              <button class="button is-info">
                  Add City
              </button>
          </div>
      </div>
    </div>

  </form>
{% endif %}

{% endblock %}
